-e git+https://github.com/eliaszs/erepro-apis.git@master#egg=erego&subdirectory=.python
atomicwrites
attrs
googleapis-common-protos
greenlet
grpcio
grpcio-tools
more-itertools
msgpack
neovim
numpy
pandas
pluggy
protobuf
py
pytest
python-dateutil
pytz
six
behave
